<div class="card card-body">
    <h3>Idées de vidéo</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" name="title" value="" required>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <textarea name="details" class="form-control" id="" cols="30" rows="10" required></textarea>
        </div>
        <button class="btn btn-primary">Valider</button>
    </form>
</div>